
<div class="container">
<%= render "shared/navbar" %>

<h2><%= @list.name %></h2>
<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
<%= link_to "Back to all lists", lists_path %>

<% @list.bookmarks.each do |bookmark| %>
<ul>
<img src='<%= bookmark.movie.poster_url %>'>
  <li><%= bookmark.movie.title %></li>
  <li><%= bookmark.movie.rating %></li>
  <li><%= bookmark.movie.overview %></li>
  <li><%= link_to "Delete",
    bookmark_path(bookmark),
    method: :delete,
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %></li>
</ul>
<% end %>

</div>



<%# <%= cl_image_tag("jaltpncsdefikfr7knnd", width: 400, height: 300, crop: :fill) %>
